# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GeneticLearning.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\rcjon\Documents\Unreal Projects\GeneticLearning\.idea\.idea.GeneticLearning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
